<div class="container-fluid text-center py-4 mt-5" style="background-color: #d2e9ff; color: #334e68; border-top: 1px solid #b3d7ff;">
    <div class="container">
        <div class="row text-start justify-content-center">
            <div class="col-12 col-md-4 mb-3 mb-md-0 text-center text-md-start">
                <a href="/" class="text-decoration-none" style="color: inherit;">
                    <h5 class="font-weight-bold mb-2">🐾 スピッツさんぽ</h5>
                </a>
                <small class="d-block text-muted">&copy; 2026 スピッツさんぽ</small>
            </div>

            <div class="col-6 col-md-3 text-center">
                <h6 class="font-weight-bold mb-2">メニュー</h6>
                <ul class="list-unstyled text-small">
                    <li><a class="text-secondary" href="/">ホーム</a></li>
                    <li><a class="text-secondary" href="/profile/">プロフィール設定</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-3 text-center">
                <h6 class="font-weight-bold mb-2">サイトについて</h6>
                <ul class="list-unstyled text-small">
                    <li><a class="text-secondary" href="#">利用規約</a></li>
                    <li><a class="text-secondary" href="#">プライバシーポリシー</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>