<nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="background-color: #d2e9ff;">
    <div class="container">
        <a class="navbar-brand font-weight-bold text-dark" href="/">
            🐾 スピッツさんぽ
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/">ホーム</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/profile/">プロフィール設定</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/account/">アカウント</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger font-weight-bold" href="/logout/">ログアウト</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/login/">ログイン</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-dark btn-sm px-3 ml-2" href="/signup/">新規登録</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>